@page "/account/{accountId:guid}"

@attribute [Authorize]
@using Buenaventura.Client.Components.TransactionUpload

<MudText Typo="Typo.h4" GutterBottom="true">@Account.Name</MudText>

<MudTable T="TransactionForDisplay" ServerData="ServerReload" Hover="true" Bordered="true" Striped="true" Dense="true"
          Loading="@loading" @ref="transactionTable" RowsPerPage="50" Elevation="6"
          OnRowClick="BeginEdit"
>
    <ToolBarContent>
        <MudText Typo="Typo.h6">@Account.Name</MudText>
        <MudSpacer/>
        <div style="width: 400px;">
            <MudTextField T="string" Value="@searchString" ValueChanged="@(s => OnSearchChanged(s))"
                          Placeholder="Search" Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"
                          Clearable="true" Immediate="true"/>
        </div>
        <MudIconButton Icon="@Icons.Material.Filled.Download"
                       Href="@($"api/accounts/{Account.AccountId}/transactions/csv")"
                       Target="_blank" Class="ml-2"/>
        <BulkTransactionUpload AccountId="@AccountId" OnTransactionsProcessed="ReloadTransactions"/>
        <MudIconButton Icon="@Icons.Material.Filled.ContentCopy"
                       OnClick="ToggleDuplicateSearch"
                       Color="@(showDuplicates ? Color.Primary : Color.Default)"
                       Class="ml-2"
                       Title="Show potential duplicate transactions"/>
    </ToolBarContent>
    <HeaderContent>
        <MudTh Style="width: 125px;">Date</MudTh>
        <MudTh Style="width: 175px;">Vendor</MudTh>
        <MudTh Style="width: 200px;">Category</MudTh>
        <MudTh Class="flex-grow-1">Description</MudTh>
        <MudTh Class="transaction-amount">Debit</MudTh>
        <MudTh Class="transaction-amount">Credit</MudTh>
        <MudTh Class="transaction-amount">Balance</MudTh>
    </HeaderContent>
    <RowTemplate>
        @if (editingTransaction == context || newTransaction == context)
        {
            <MudTd DataLabel="Date" Class="mud-table-small-cell">
                <MudTextField @bind-Value="@context.TransactionDateForEdit" Variant="Variant.Text"
                              OnKeyDown="@(e => HandleKeyDown(e, context, true))" Typo="Typo.inherit"
                              Immediate="true" @ref="@transactionDateField"/>
            </MudTd>
            <MudTd DataLabel="Vendor" Class="mud-table-small-cell">
                <MudAutocomplete Value="@context.Vendor" Variant="Variant.Text" T="string"
                                 ResetValueOnEmptyText="true" CoerceText="true" SelectValueOnTab="true"
                                 Typo="Typo.inherit" ValueChanged="@(vendor => FindCategoryForVendor(vendor, context))"
                                 RelativeWidth="DropdownWidth.Adaptive" CoerceValue="true"
                                 SearchFunc="SearchVendors" Adornment="Adornment.None"/>
            </MudTd>
            <MudTd DataLabel="Category" Class="mud-table-small-cell">
                <MudAutocomplete
                    T="CategoryModel"
                    @bind-Value="@context.Category" Variant="Variant.Text"
                    ResetValueOnEmptyText="true" CoerceText="true" SelectValueOnTab="true"
                    Typo="Typo.inherit"
                    ToStringFunc="@(cat => cat?.Name)"
                    RelativeWidth="DropdownWidth.Adaptive"
                    SearchFunc="SearchCategories" Adornment="Adornment.None"/>

            </MudTd>
            <MudTd DataLabel="Description" Class="mud-table-small-cell">
                <TextField @bind-Value="@context.Description"
                           OnKeyDown="@(async e => await HandleKeyDown(e, context))"
                />
            </MudTd>
            <MudTd DataLabel="Debit" Class="mud-table-small-cell align-right">
                <MoneyTextField @bind-Value="@context.DebitForEdit"
                                OnKeyDown="@(async e => await HandleKeyDown(e, context))"
                />
            </MudTd>
            <MudTd DataLabel="Credit" Class="mud-table-small-cell align-right">
                <MoneyTextField @bind-Value="@context.CreditForEdit"
                                OnKeyDown="@(async e => await HandleKeyDown(e, context))"
                />
            </MudTd>
            <MudTd DataLabel="Balance" Class="transaction-amount">
                @if (editingTransaction == context)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Cancel" Style="padding: 0;"
                                   OnClick="(() => CancelEdit(context))"/>
                }
            </MudTd>
        }
        else
        {
            <MudTd DataLabel="Date">@context.TransactionDate.ToString("MM/dd/yyyy")</MudTd>
            <MudTd DataLabel="Vendor">@context.Vendor</MudTd>
            <MudTd DataLabel="Category">@context.Category.Name</MudTd>
            <MudTd DataLabel="Description">@context.Description</MudTd>
            <MudTd DataLabel="Debit" Class="transaction-amount">@context.Debit?.ToString("N2")</MudTd>
            <MudTd DataLabel="Credit" Class="transaction-amount">@context.Credit?.ToString("N2")</MudTd>
            <MudTd DataLabel="Balance" Class="transaction-amount">
                <div class="row-with-actions">
                    <div class="hover-row-content">
                        @if (string.IsNullOrEmpty(searchString) && !showDuplicates)
                        {
                            @context.RunningTotal.ToString("N2")
                        }
                        else
                        {
                            <span>--</span>
                        }
                    </div>
                    <div class="action-buttons">
                        <MudIconButton Icon="@Icons.Material.Filled.ContentCopy"
                                       OnClick="@(() => CopyBalance(context))"/>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                       OnClick="@(() => DeleteTransaction(context))"/>
                    </div>
                </div>
            </MudTd>
        }
    </RowTemplate>
    <PagerContent>
        <MudTablePager/>
    </PagerContent>
</MudTable>