@page "/account/{accountId:guid}"
@using Buenaventura.Client.Services
@using Buenaventura.Dtos
@using Buenaventura.Shared
@inject IAccountService AccountService

<MudText Typo="Typo.h4" GutterBottom="true">@Account.Name</MudText>

<MudTable T="TransactionForDisplay" ServerData="ServerReload" Hover="true" Bordered="true" Striped="true" Dense="true"
          Loading="@loading" @ref="transactionTable" RowsPerPage="25" Elevation="6"
          OnRowClick="BeginEdit"
>
    <ToolBarContent>
        <MudText Typo="Typo.h6">@Account.Name</MudText>
        <MudSpacer/>
        <div style="width: 400px;">
            <MudTextField T="string" Value="@searchString" ValueChanged="@(s => OnSearchChanged(s))"
                          Placeholder="Search" Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"
                          Clearable="true" Immediate="true"
            />
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh Style="width: 125px;">Date</MudTh>
        <MudTh Style="width: 175px;">Vendor</MudTh>
        <MudTh Style="width: 200px;">Category</MudTh>
        <MudTh Class="flex-grow-1">Description</MudTh>
        <MudTh Class="transaction-amount">Debit</MudTh>
        <MudTh Class="transaction-amount">Credit</MudTh>
        <MudTh Class="transaction-amount">Balance</MudTh>
    </HeaderContent>
    <RowTemplate>
        @if (editingTransaction == context || newTransaction == context)
        {
            <MudTd DataLabel="Date" Class="mud-table-small-cell">
                <MudTextField @bind-Value="@context.TransactionDate" Variant="@textVariant" T="DateTime"
                              OnKeyDown="@(e => HandleKeyDown(e, context, true))" Typo="Typo.inherit"
                              Immediate="true"/>
            </MudTd>
            <MudTd DataLabel="Vendor" Class="mud-table-small-cell">
                <MudTextField @bind-Value="@context.Vendor" Variant="@textVariant"
                              OnKeyDown="@(e => HandleKeyDown(e, context))" Typo="Typo.inherit"
                              Immediate="true"/>
            </MudTd>
            <MudTd DataLabel="Category" Class="mud-table-small-cell">
                <MudTextField @bind-Value="@context.CategoryDisplay" Variant="@textVariant"
                              OnKeyDown="@(e => HandleKeyDown(e, context))" Typo="Typo.inherit"
                              Immediate="true"/>
            </MudTd>
            <MudTd DataLabel="Description" Class="mud-table-small-cell">
                <MudTextField @bind-Value="@context.Description" Variant="@textVariant"
                              OnKeyDown="@(e => HandleKeyDown(e, context))" Typo="Typo.inherit"
                              Immediate="true"/>
            </MudTd>
            <MudTd DataLabel="Debit" Class="mud-table-small-cell align-right">
                <MudTextField @bind-Value="@context.DebitForEdit" Variant="@textVariant"
                              OnKeyDown="@(e => HandleKeyDown(e, context))" Typo="Typo.inherit"
                              Immediate="true"/>
            </MudTd>
            <MudTd DataLabel="Description" Class="mud-table-small-cell align-right">
                <MudTextField @bind-Value="@context.CreditForEdit" Variant="@textVariant"
                              OnKeyDown="@(e => HandleKeyDown(e, context))"
                              Typo="Typo.inherit"
                />
            </MudTd>
            <MudTd DataLabel="Balance" Class="transaction-amount">
                @if (editingTransaction == context)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Cancel" OnClick="(() => CancelEdit(context))"/>
                }
            </MudTd>
        }
        else
        {
            <MudTd DataLabel="Date">@context.TransactionDate.ToString("MM/dd/yyyy")</MudTd>
            <MudTd DataLabel="Vendor">@context.Vendor</MudTd>
            <MudTd DataLabel="Category">@context.CategoryDisplay</MudTd>
            <MudTd DataLabel="Description">@context.Description</MudTd>
            <MudTd DataLabel="Debit" Class="transaction-amount">@context.Debit?.ToString("N2")</MudTd>
            <MudTd DataLabel="Credit" Class="transaction-amount">@context.Credit?.ToString("N2")</MudTd>
            <MudTd DataLabel="Balance" Class="transaction-amount">
                @if (string.IsNullOrEmpty(searchString))
                {
                    @context.RunningTotal.ToString("N2")
                }
                else
                {
                    <span>--</span>
                }
            </MudTd>
        }
    </RowTemplate>
    <PagerContent>
        <MudTablePager/>
    </PagerContent>
</MudTable>

@code {
    [Parameter] public Guid AccountId { get; set; }
    private AccountWithBalance Account { get; set; } = new();
    private TransactionListModel transactions = new();
    private string searchString = string.Empty;
    private Guid previousAccountId;
    private bool loading = true;
    MudTable<TransactionForDisplay>? transactionTable;
    private TransactionForDisplay? editingTransaction { get; set; }
    private TransactionForDisplay? transactionBackup { get; set; }
    private readonly Variant textVariant = Variant.Text;

    private TransactionForDisplay newTransaction { get; set; } = new()
    {
        TransactionDate = DateTime.Today
    };


    protected override async Task OnParametersSetAsync()
    {
        if (AccountId != previousAccountId)
        {
            loading = true;
            Account = await AccountService.GetAccount(AccountId);
            searchString = string.Empty;
            if (transactionTable != null)
            {
                await transactionTable.ReloadServerData();
            }

            loading = false;
            previousAccountId = AccountId;
        }
    }

    private void BeginEdit(TableRowClickEventArgs<TransactionForDisplay> args)
    {
        var transaction = args.Item;
        if (transaction == null)
        {
            return;
        }

        editingTransaction = transaction;
        editingTransaction.DebitForEdit = transaction.Debit?.ToString("N2") ?? "";
        editingTransaction.CreditForEdit = transaction.Credit?.ToString("N2") ?? "";
        transactionBackup = new TransactionForDisplay
        {
            TransactionDate = transaction.TransactionDate,
            Vendor = transaction.Vendor,
            CategoryDisplay = transaction.CategoryDisplay,
            Description = transaction.Description,
            Debit = transaction.Debit,
            Credit = transaction.Credit,
            RunningTotal = transaction.RunningTotal,
            TransactionId = transaction.TransactionId,
        };
    }

    private void CancelEdit(TransactionForDisplay transaction)
    {
        if (transactionBackup != null)
        {
            transaction.TransactionDate = transactionBackup.TransactionDate;
            transaction.Vendor = transactionBackup.Vendor;
            transaction.CategoryDisplay = transactionBackup.CategoryDisplay;
            transaction.Description = transactionBackup.Description;
            transaction.Debit = transactionBackup.Debit;
            transaction.Credit = transactionBackup.Credit;
            transaction.RunningTotal = transactionBackup.RunningTotal;
            transaction.TransactionId = transactionBackup.TransactionId;

            editingTransaction = null;
            transactionBackup = null;
        }
    }

    private async Task OnSearchChanged(string text)
    {
        searchString = text;
        if (transactionTable != null)
        {
            await transactionTable.ReloadServerData();
        }
    }

    private async Task<TableData<TransactionForDisplay>> ServerReload(TableState state, CancellationToken token)
    {
        transactions = await AccountService.GetTransactions(AccountId, searchString, state.Page, state.PageSize);
        return new TableData<TransactionForDisplay>
        {
            TotalItems = transactions.TotalTransactionCount,
            Items = transactions.Transactions.ToList().Prepend(newTransaction)!
        };
    }

    private async Task HandleKeyDown(KeyboardEventArgs args, TransactionForDisplay context, bool isDateField = false)
    {
        if (args.Key == "Enter")
        {
            await AddEditTransaction(context);
            return;
        }

        if (isDateField && args.Key == "ArrowUp")
        {
            context.TransactionDate = context.TransactionDate.AddDays(1);
        }
        else if (isDateField && args.Key == "ArrowDown")
        {
            context.TransactionDate = context.TransactionDate.AddDays(-1);
        }
    }

    private async Task AddEditTransaction(TransactionForDisplay transaction)
    {
        Console.WriteLine(transaction.Credit);
        if (decimal.TryParse(transaction.CreditForEdit, out var credit))
        {
            transaction.Credit = credit;
        }
        else
        {
            transaction.Credit = null;
        }

        if (decimal.TryParse(transaction.DebitForEdit, out var debit))
        {
            transaction.Debit = debit;
        }
        else
        {
            transaction.Debit = null;
        }
        if (transaction == newTransaction)
        {
            Console.WriteLine("New transaction");
            await AccountService.AddTransaction(AccountId, transaction);
            newTransaction = new TransactionForDisplay
            {
                TransactionDate = transaction.TransactionDate
            };
            return;
        }

        Console.WriteLine("existing transaction");

        editingTransaction = null;
        transactionBackup = null;
        await AccountService.UpdateTransaction(transaction);
    }

}